body*   {
    margin: 0;
    border: 0;
    padding: 0;  
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

.titulo-con-imagen {
    display: flex; 
    align-items: center
}

.titulo-con-imagen img {
    margin-right: 50px; 
    max-width: 100px;
    height: auto;
}

body {
    margin: 80px;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    text-align: justify;
    font-family: "Anta", sans-serif;
    

    h1  { 
        text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        text-align: justify;
    }

}
